* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #FFFFFF;
}

.logo__desc {
  font-size: 1.25rem;
  font-weight: 400;
  color: #000000;
  margin-left: 3rem;
}

.hamburgerMenu {
  margin-right: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hamburgerMenu__desc {
  color: #FF1F5F;
}
.hamburgerMenu__mainMenuToggle {
  cursor: pointer;
}
.hamburgerMenu__menuContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: min(30vh, 10rem) 5rem;
  z-index: 1000;
  inset: 0 0 0 60%;
  transform: translateX(100%);
  transition: ease-in-out 0.3s;
  backdrop-filter: blur(1rem);
  background: hsla(0deg, 0%, 0%, 0.9);
}
@media (max-width: 992px) {
  .hamburgerMenu__menuContainer {
    inset: 0;
    align-items: center;
  }
}
.hamburgerMenu__menuContainer.-show {
  transform: translateX(0);
}
@supports (backdrop-filter: blur(1rem)) {
  .hamburgerMenu__menuContainer {
    background: hsla(0deg, 0%, 0%, 0.7);
    backdrop-filter: blur(1rem);
  }
}
.hamburgerMenu__nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hamburgerMenu__nav li {
  color: #FFFFFF;
  font-size: 1.5rem;
}
.hamburgerMenu__menuCloseBtn {
  position: absolute;
  background: url("../assets/close_btn.svg") no-repeat;
  cursor: pointer;
  filter: invert(1);
  border: 0;
  width: 2rem;
  aspect-ratio: 1;
  top: 1.5rem;
  right: 3rem;
  z-index: 9999;
  transition: ease-in-out 0.2s;
}
.hamburgerMenu__menuCloseBtn:hover {
  transform: scale(1.1) rotate(180deg);
}

.hidden {
  display: none;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 1240px) {
  .btn.-md {
    padding: 0.5rem 1.5rem;
  }
}
.btn.-primary {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 55px;
  transition: ease-in-out 0.3s;
}
.btn.-primary:hover {
  background-color: #3ACE99;
  color: #FFFFFF;
}
.btn.-secondary {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 55px;
  transition: ease-in-out 0.3s;
}
.btn.-secondary:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.btn.-sm {
  padding: 0.25rem 1.25rem;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.4));
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: grayscale(1) contrast(0.9);
}
@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}

.entryScreen {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}
.entryScreen__title {
  font-size: 5rem;
  font-weight: 500;
  line-height: 5.5rem;
}
.entryScreen__subtitle {
  margin-top: 1rem;
  font-weight: 500;
}
.entryScreen span {
  color: #3ACE99;
}

.hiddenLeft {
  opacity: 0;
  transform: translateX(-100%);
}

.hiddenRight {
  opacity: 0;
  transform: translateX(-100%);
}

.timer {
  top: 0;
  z-index: 9;
  background-color: #3ACE99;
  padding: 3rem 0;
}
@media (max-width: 1400px) {
  .timer {
    padding: 0.75rem 0;
  }
}
.timer__desc p {
  font-size: 3rem;
  font-weight: 500;
  color: #FFFFFF;
}
@media (max-width: 1400px) {
  .timer__desc p {
    font-size: 2rem;
  }
}
@media (max-width: 1240px) {
  .timer__desc p {
    font-size: 1.25rem;
  }
}
.timer__elementWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #FFFFFF;
}
.timer__singleDateElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  background: hsla(0deg, 0%, 100%, 0.2);
}
@media (max-width: 1140px) {
  .timer__singleDateElement {
    width: 65px;
  }
}
.timer__singleDateElement h3 {
  font-size: 2.25rem;
  font-weight: 400;
}
@media (max-width: 1400px) {
  .timer__singleDateElement h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1140px) {
  .timer__singleDateElement h3 {
    font-size: 1rem;
  }
}
.timer__singleDateType h3 {
  font-weight: 300;
}
@media (max-width: 1240px) {
  .timer__singleDateType h3 {
    font-size: 1rem;
  }
}
.timer__timerWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1400px) {
  .timer__timerWrapper {
    gap: 0.5rem;
  }
}
@media (max-width: 1140px) {
  .timer__timerWrapper {
    flex-direction: column;
  }
}
.timer__timerBtnWrapper {
  display: flex;
  align-items: center;
  text-align: center;
}
.timer__counter {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
@media (max-width: 1400px) {
  .timer__counter {
    gap: 3rem;
  }
}
.flexRow {
  background-color: #F4F7F7;
}
.flexRow__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 10rem;
}
@media (max-width: 1240px) {
  .flexRow__wrapper.-flexRow {
    flex-direction: row;
    width: 100%;
  }
}
@media (max-width: 1240px) {
  .flexRow__wrapper {
    padding: 2rem 0.5rem;
  }
}
@media (max-width: 992px) {
  .flexRow__wrapper {
    flex-direction: column;
    padding: 2rem 0.5rem;
  }
}
.flexRow__wrapper.-whiteBg {
  background-color: #FFFFFF;
}
.flexRow__wrapper.-noPadding {
  padding: 0;
}
.flexRow__textCol {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 2rem;
  gap: 1.5rem;
}
@media (max-width: 1240px) {
  .flexRow__textCol {
    width: 80%;
    margin: 1rem 1.5rem 5rem 1.5rem;
    text-align: center;
  }
}
.flexRow__textCol h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
@media (max-width: 992px) {
  .flexRow__textCol h2 {
    font-size: 2rem;
  }
}
.flexRow__textCol p {
  font-size: 1.25rem;
  font-weight: 400;
}
@media (max-width: 992px) {
  .flexRow__textCol p {
    font-size: 1rem;
  }
}
@media (max-width: 1240px) {
  .flexRow__imgCol {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1240px) {
  .flexRow__imgCol img.-widthUnset {
    width: unset;
  }
}
@media (max-width: 1240px) {
  .flexRow__imgCol img {
    width: 80%;
  }
}
.flexRow #partialImg {
  position: relative;
  overflow: hidden;
}
.flexRow__imgOverlay {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 100%;
  box-shadow: 0px -42px 26px 34px #f4f7f7;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 3rem;
}
.contact__wrapper {
  background-image: url(../assets/form-bg.svg);
  background-size: cover;
  min-height: 50rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
}
.contact__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.contact form {
  width: 110%;
  text-align: left;
  margin-top: 3rem;
  padding: 1.25rem 0;
}
.contact form input {
  width: 100%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1rem;
  border-radius: 20px;
  border: 1px solid #3ACE99;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
}
.contact form input::placeholder {
  color: #A9A9A9;
}
.contact form label {
  font-size: 0.8rem;
  margin-left: 1rem;
}
.contact form button {
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 250px;
  width: 100%;
  margin: 3rem auto 2rem auto;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  color: #FFFFFF;
}
.footer__title {
  padding: 5rem 0;
}
.footer__title h2 {
  font-size: 1.75rem;
  font-weight: 500;
}
.footer__wrapper {
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}
.footer__menuCol {
  font-weight: 300;
}
.footer__menuCol p {
  margin-bottom: 2rem;
  font-weight: 500;
}
.footer__menuCol span {
  color: #3ACE99;
}

/*# sourceMappingURL=style.css.map */
