//Colors
$StandardBlack: #000000;
$LightGrey: #F4F7F7;
$LightGrey2: #e2ebeb;
$StandardGrey: #A9A9A9;
$StandardWhite: #FFFFFF;
$LightRed: #FF1F5F;
$MintGreen: #3ACE99;

//Fonts
$Poppins: 'Poppins', sans-serif;

* {
  box-sizing: border-box;
  font-family: $Poppins;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: $StandardWhite;
  //box-shadow: 0px -11px 41px grey;
}

.logo {
  &__desc {
    font-size: 1.25rem;
    font-weight: 400;
    color: $StandardBlack;
    margin-left: 2rem;
  }
}

.hamburgerMenu {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  &__desc {
    color: $LightRed;
  }
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  font-size: .8rem;
  font-weight: 300;
  margin-top: 1.5rem;
  margin-bottom: 1rem;


  &.-primary {
    background-color: $StandardBlack;
    color: $StandardWhite;
    border-radius: 55px;
    transition: ease-in-out .3s;

    &:hover {
      background-color: $MintGreen;
      color: $StandardBlack;
    }
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255 255 255 / 40%));
  display: flex;
  align-items: center;
  justify-content: center;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 2;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: grayscale(1) contrast(.9);

  @media (min-aspect-ratio: 16/9) {
    width: 100%;
    height: auto;
  }

  @media (max-aspect-ratio: 16/9) {
    width: auto;
    height: 100%;
  }
}

.entryScreen {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;


  &__title {
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 5.5rem;
  }

  &__subtitle {
    margin-top: 1rem;
    font-weight: 500;
  }


  span {
    color: $MintGreen;
  }

}

.timer {
  background-color: $MintGreen;
  padding: 5rem 0;
}

.flexRow {
  background-color: $LightGrey;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem 10rem;

    &.-whiteBg {
      background-color: $StandardWhite;
    }

    &.-noPadding {
      padding: 0;
    }
  }

  &__textCol {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2rem;
    gap: 1.5rem;

    &.-ml10 {
      margin-left: 10rem;
    }

    &.-mr10 {
      margin-right: 10rem;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
    }

    p {
      font-size: 1.25rem;
      font-weight: 400;
    }
  }
}


.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


  &__wrapper {
    background-image: url(../assets/form-bg.svg);
    background-size: cover;
    min-height: 50rem;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 500;
  }


form {
  width: 110%;
  text-align: left;
  margin-top: 3rem;
  padding: 1.25rem 0;


  input {
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    border-radius: 20px;
    border: 1px solid $MintGreen;
    margin-left: 1rem;
    margin-bottom: .8rem;

    &::placeholder {
      color: $StandardGrey;
    }
  }
  label {
    font-size: .8rem;
    margin-left:1rem;
  }

  button {
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    cursor: pointer;

  }
}





}

.footer {
  background-color: $StandardBlack;
  color: $StandardWhite;

  &__wrapper {
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}