$StandardBlack: #000000;
$LightGrey: #F4F7F7;
$LightGrey2: #e2ebeb;
$StandardGrey: #A9A9A9;
$StandardWhite: #FFFFFF;
$LightRed: #FF1F5F;
$MintGreen: #3ACE99;

$Poppins: 'Poppins', sans-serif;

* {
  box-sizing: border-box;
  font-family: $Poppins;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: $StandardWhite;
}

.logo {
  &__desc {
    font-size: 1.25rem;
    font-weight: 400;
    color: $StandardBlack;
    margin-left: 3rem;

    @media (max-width: 576px) {
      margin-left: .5rem;
      font-size: 1rem;
    }
  }
}

.hamburgerMenu {
  margin-right: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (max-width: 576px) {
    margin-right: .5rem;
  }

  &__desc {
    color: $LightRed;
    font-size: 1rem;
    @media (max-width: 576px) {
      font-size: .825rem;
    }
  }

  &__mainMenuToggle {
    cursor: pointer;
  }

  &__buttonWrap {
    img {
      @media (max-width: 576px) {
        width: 30px;
      }
    }
  }

  &__menuContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: min(30vh, 10rem) 5rem;
    z-index: 1000;
    inset: 0 0 0 60%;
    transform: translateX(100%);
    transition: ease-in-out .3s;
    backdrop-filter: blur(1rem);
    background: hsl(0deg 0% 0% / 90%);

    @media (max-width: 992px) {
      inset: 0;
      align-items: center;
    }

    &.-show {
      transform: translateX(0);
    }

    @supports (backdrop-filter: blur(1rem)) {
      background: hsl(0deg 0% 0% / 70%);
      backdrop-filter: blur(1rem);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    li {
      color: $StandardWhite;
      font-size: 1.5rem;
    }
  }

  &__menuCloseBtn {
    position: absolute;
    background: url('../assets/close_btn.svg') no-repeat;
    cursor: pointer;
    filter: invert(1);
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 3rem;
    z-index: 9999;
    transition: ease-in-out .2s;

    &:hover {
      transform: scale(1.1) rotate(180deg);
    }
  }
}

.hidden {
  display: none;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  font-size: .8rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media (max-width: 1240px) {
    &.-md {
      padding: .5rem 1.5rem;
    }
  }

  &.-primary {
    background-color: $StandardBlack;
    color: $StandardWhite;
    border-radius: 55px;
    transition: ease-in-out .3s;

    &:hover {
      background-color: $MintGreen;
      color: $StandardWhite;
    }
  }

  &.-secondary {
    background-color: $StandardWhite;
    color: $StandardBlack;
    border-radius: 55px;
    transition: ease-in-out .3s;

    &:hover {
      background-color: $StandardBlack;
      color: $StandardWhite;
    }
  }

  &.-sm {
    padding: .25rem 1.25rem;
  }
}

//main {
//  min-height: 65rem;
//}


.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255 255 255 / 40%));
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 2;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: grayscale(1) contrast(.9);

  @media (min-aspect-ratio: 16/9) {
    width: 100%;
    height: auto;
  }

  @media (max-aspect-ratio: 16/9) {
    width: auto;
    height: 100%;
  }
}

.entryScreen {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;

  @media (max-width: 576px) {
    top: 15%;
  }

  &__title {
    font-size: 5rem;
    font-weight: 500;
    line-height: 5.5rem;

    @media (max-width: 576px) {
      font-size: 3.5rem;
      margin: 0 1rem;
      line-height: 4rem;
    }
  }

  &__subtitle {
    margin-top: 1rem;
    font-weight: 500;
    @media (max-width: 576px) {
      margin: 0 1rem;
      font-size: .75rem;
    }
  }

  span {
    color: $MintGreen;
  }
}

.hiddenLeft {
  opacity: 0;
  transform: translateX(-100%);;
}

.hiddenRight {
  opacity: 0;
  transform: translateX(-100%);;
}

@keyframes timerAnimIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.timerAnimIn {
  animation: timerAnimIn 1s;
}

.timer {
  top: 0;
  z-index: 9;
  background-color: $MintGreen;
  padding: 2rem 0;

  @media (max-width: 1400px) {
    padding: .75rem 0;
  }

  &__desc {
    p {
      font-size: 3rem;
      font-weight: 500;
      color: $StandardWhite;

      @media (max-width: 1400px) {
        font-size: 2rem;
      }
      @media (max-width: 1240px) {
        font-size: 1.25rem;
      }
    }
  }

  &__elementWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $StandardWhite;
    @media (max-width: 848px) {
      flex-direction: column;
    }
  }

  &__singleDateElement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding: .5rem .5rem;
    border-radius: 10px;
    background: hsl(0 0% 100% / 0.2);

    @media (max-width: 1140px) {
      width: 65px;
    }

    h3 {
      font-size: 2.25rem;
      font-weight: 400;

      @media (max-width: 1400px) {
        font-size: 1.5rem;
      }
      @media (max-width: 1140px) {
        font-size: 1rem;
      }
    }
  }

  &__singleDateType {

    h3 {
      font-weight: 300;
      @media (max-width: 1240px) {
        font-size: 1rem;
      }
    }
  }

  &__timerWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 1400px) {
      gap: .5rem;
    }
    @media (max-width: 1140px) {
      flex-direction: column;
    }
  }

  &__timerBtnWrapper {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__counter {
    display: flex;
    justify-content: center;
    gap: 5rem;

    @media (max-width: 1400px) {
      gap: 3rem;
    }
    @media (max-width: 848px) {
      gap: 1rem;
    }
  }
}

.flexRow {
  background-color: $LightGrey;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem 10rem;

    &.-flexRow {
      @media (max-width: 1240px) {
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }
    }

    &.-bgImg {
      @media (max-width: 1240px) {
        background: url(../assets/thumb_up_grayscale.svg) no-repeat;
        background-size: cover;
      }
    }

    &.-bgImg2 {
      @media (max-width: 1240px) {
        background: url(../assets/people_office_grayscale_2.svg) no-repeat;
        background-size: cover;
      }
    }

    @media (max-width: 1240px) {
      padding: 2rem .5rem;
    }

    @media (max-width: 992px) {
      flex-direction: column;
      padding: 2rem .5rem;
    }

    &.-whiteBg {
      background-color: $StandardWhite;
    }

    &.-noPadding {
      padding: 0;
    }
  }

  &__textCol {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2rem;
    gap: 1.5rem;

    @media (max-width: 1240px) {
      width: 80%;
      margin: 1rem 1.5rem 5rem 1.5rem;
      text-align: center;
    }

    &.-extraMargin {
      @media (max-width: 1240px) {
        margin: 10rem 1.5rem;
      }
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 600;

      @media (max-width: 1240px) {
        font-size: 2rem;
      }

      @media (max-width: 992px) {
        font-size: 1.75rem;
      }
    }

    p {
      font-size: 1.25rem;
      font-weight: 400;

      @media (max-width: 1240px) {
        font-size: 1rem;
      }

      @media (max-width: 992px) {
        font-size: 1rem;
      }
    }
  }

  &__imgCol {
    @media (max-width: 1240px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.-dispNone {
      @media (max-width: 1240px) {
        display: none;
      }
    }

    img {
      &.-widthUnset {
        @media (max-width: 1240px) {
          width: unset;
        }
      }

      @media (max-width: 1240px) {
        width: 65%;
      }
    }
  }

  #partialImg {
    position: relative;
    overflow: hidden;
  }

  &__imgOverlay {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 100%;
    box-shadow: 0px -42px 26px 34px #f4f7f7;
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 3rem;

  @media (max-width: 1240px) {
    padding: 0;
  }

  &__wrapper {
    background-image: url(../assets/form-bg.svg);
    background-size: cover;
    min-height: 50rem;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: 576px) {
      margin: 0 1.5rem;
    }
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 500;

    @media (max-width: 1240px) {
      font-size: 2rem;
    }

    @media (max-width: 992px) {
      font-size: 1.75rem;
    }

    @media (max-width: 576px) {
      font-size: 1.5rem;
    }
  }

  p {
    font-weight: 500;
    font-size: 1.25rem;

    @media (max-width: 1240px) {
      font-size: 1rem;
    }

    @media (max-width: 992px) {
      font-size: 1rem;
    }
  }

  form {
    width: 110%;
    text-align: left;
    margin-top: 3rem;
    padding: 1.25rem 0;

    @media (max-width: 1240px) {
      padding: 1.25rem 1rem;
      width: 100%;
    }

    span {
      position: relative;
    }

    input {
      width: 100%;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      padding-left: 1rem;
      border-radius: 20px;
      border: 1px solid $MintGreen;
      margin-bottom: .8rem;

      @media (max-width: 1240px) {
        margin: 0;
      }

      &::placeholder {
        color: $StandardGrey;
      }
    }

    label {
      position: absolute;
      top: 15%;
      background-color: $LightGrey2;
      border-radius: 25px;
      padding: .25rem .5rem;
      font-size: .8rem;
      margin-left: 1rem;
    }

    button {
      display: flex;
      text-align: center;
      justify-content: center;
      max-width: 250px;
      width: 100%;
      margin: 3rem auto 2rem auto;
      cursor: pointer;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: $StandardBlack;
  color: $StandardWhite;

  @media (max-width: 992px) {
    flex-direction: column;
  }

  &__title {
    padding: 5rem 0;

    @media (max-width: 992px) {
      padding: 1rem 0 1rem 2rem;
    }

    h2 {
      font-size: 1.75rem;
      font-weight: 500;
    }
  }

  &__wrapper {
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;

    @media (max-width: 992px) {
      padding: 1rem 2rem;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 0;
    }
  }

  &__menuCol {
    font-weight: 300;

    p {
      margin-bottom: 2rem;
      font-weight: 500;

      @media (max-width: 992px) {
        margin-top: 2rem;
        margin-bottom: 0;
      }
    }

    span {
      color: $MintGreen;
    }
  }
}